#include "{header}.h"

{{ if readwrite- }}
#include <unistd.h>
#include "aconfig_storage/aconfig_storage_read_api.hpp"
#include <android/log.h>
#define LOG_TAG "aconfig_cpp_codegen"
#define ALOGE(...) __android_log_print(ANDROID_LOG_ERROR, LOG_TAG, __VA_ARGS__)
{{ -endif }}

{{ if is_test_mode }}
#include <unordered_map>
#include <string>
{{ -else- }}
{{ if readwrite- }}
#include <atomic>
#include <vector>
{{ -endif }}
{{ -endif }}

namespace {cpp_namespace} \{

{{ if is_test_mode }}
    class flag_provider : public flag_provider_interface \{
    private:
        std::unordered_map<std::string, bool> overrides_;

    {{ if readwrite- }}
        uint32_t boolean_start_index_;

        std::unique_ptr<aconfig_storage::MappedStorageFile> flag_value_file_;

        bool package_exists_in_storage_;

        {{ if use_package_fingerprint- }}
        bool fingerprint_matches_;
        {{ -endif }}{#- end of use_package_fingerprint #}
    {{ -endif }}

    public:
    {{ if readwrite- }}
        flag_provider()
            : overrides_()
            , boolean_start_index_()
            , flag_value_file_(nullptr)
            {{ if use_package_fingerprint- }}
            , package_exists_in_storage_(true)
            , fingerprint_matches_(true) \{
            {{ -else }}
            , package_exists_in_storage_(true) \{
            {{ -endif }}{#- end of use_package_fingerprint #}

// Storage files are only available on Android, not on host.
#ifndef __ANDROID__
            package_exists_in_storage_ = false;
            return;
#endif
            auto package_map_file_ret = aconfig_storage::get_mapped_file(
                 "{container}",
                 aconfig_storage::StorageFileType::package_map);

            if (!package_map_file_ret.ok()) \{
                ALOGE("error: failed to get package map file: %s", package_map_file_ret.error().c_str());
                package_exists_in_storage_ = false;
                return;
            }
            std::unique_ptr<aconfig_storage::MappedStorageFile> package_map_file(*package_map_file_ret);
            auto context = aconfig_storage::get_package_read_context(
                *package_map_file, "{package}");

            if (!context.ok()) \{
                ALOGE("error: failed to get package read context: %s", context.error().c_str());
                package_exists_in_storage_ = false;
                return;
            }

            if (!(context->package_exists)) \{
                package_exists_in_storage_ = false;
                return;
            }
            {{ if use_package_fingerprint- }}

                if (context->fingerprint != { package_fingerprint }ULL) \{
                    ALOGE("Fingerprint mismatch for package {package}.");
                    fingerprint_matches_ = false;
                    return;
                }
            {{ -endif }}{#- end of use_package_fingerprint #}

            // cache package boolean flag start index
            boolean_start_index_ = context->boolean_start_index;

            auto flag_value_file = aconfig_storage::get_mapped_file(
                "{container}",
                aconfig_storage::StorageFileType::flag_val);
            if (!flag_value_file.ok()) \{
                ALOGE("error: failed to get flag value file: %s", flag_value_file.error().c_str());
                package_exists_in_storage_ = false;
                return;
            }

            // cache flag value file
            flag_value_file_ = std::unique_ptr<aconfig_storage::MappedStorageFile>(
                *flag_value_file);

        }
    {{ -else }}
        flag_provider()
            : overrides_()
        \{}
    {{ -endif }}

    {{ for item in class_elements }}
        virtual bool {item.flag_name}() override \{
            auto it = overrides_.find("{item.flag_name}");
            if (it != overrides_.end()) \{
                return it->second;
            } else \{
                {{ if item.readwrite- }}
                if (!package_exists_in_storage_) \{
                    return {item.default_value};
                }
                {{ if use_package_fingerprint- }}

                if (!fingerprint_matches_) \{
                    ALOGE("error: package fingerprint mismtach, returning flag default value.");
                    return {item.default_value};
                }
                {{ -endif }}{#- end of use_package_fingerprint #}

                auto value = aconfig_storage::get_boolean_flag_value(
                    *flag_value_file_,
                    boolean_start_index_ + {item.flag_offset});

                if (!value.ok()) \{
                    ALOGE("error: failed to read flag value: %s", value.error().c_str());
                    return {item.default_value};
                } else \{
                    return *value;
                }
                {{ -else }}
                return {item.default_value};
                {{ -endif }}
            }
        }

        virtual void {item.flag_name}(bool val) override \{
            overrides_["{item.flag_name}"] = val;
        }
    {{ endfor }}

        virtual void reset_flags() override \{
            overrides_.clear();
        }
    };

{{ -else- }}

    class flag_provider : public flag_provider_interface \{
    public:

        {{ if readwrite- }}
        flag_provider()
            : cache_({readwrite_count})
            , boolean_start_index_()
            , flag_value_file_(nullptr)
            {{ if use_package_fingerprint- }}
            , package_exists_in_storage_(true)
            , fingerprint_matches_(true) \{
            {{ -else }}
            , package_exists_in_storage_(true) \{
            {{ -endif }}{#- end of use_package_fingerprint #}
            for (size_t i = 0 ; i < {readwrite_count}; i++) \{
                cache_[i] = -1;
            }

// Storage files are only available on Android, not on host.
#ifndef __ANDROID__
            package_exists_in_storage_ = false;
            return;
#endif
            auto package_map_file_ret = aconfig_storage::get_mapped_file(
                 "{container}",
                 aconfig_storage::StorageFileType::package_map);
            if (!package_map_file_ret.ok()) \{
                ALOGE("error: failed to get package map file: %s", package_map_file_ret.error().c_str());
                package_exists_in_storage_ = false;
                return;
            }
            std::unique_ptr<aconfig_storage::MappedStorageFile> package_map_file(*package_map_file_ret);
            auto context = aconfig_storage::get_package_read_context(
                *package_map_file, "{package}");
            if (!context.ok()) \{
                ALOGE("error: failed to get package read context: %s", context.error().c_str());
                package_exists_in_storage_ = false;
                return;
            }

            if (!(context->package_exists)) \{
                package_exists_in_storage_ = false;
                return;
            }
            {{ if use_package_fingerprint- }}

                if (context->fingerprint != { package_fingerprint }ULL) \{
                    ALOGE("Fingerprint mismatch for package {package}.");
                    fingerprint_matches_ = false;
                    return;
                }
            {{ -endif }}{#- end of use_package_fingerprint #}

            // cache package boolean flag start index
            boolean_start_index_ = context->boolean_start_index;

            auto flag_value_file = aconfig_storage::get_mapped_file(
                "{container}",
                aconfig_storage::StorageFileType::flag_val);
            if (!flag_value_file.ok()) \{
                ALOGE("error: failed to get flag value file: %s", flag_value_file.error().c_str());
                package_exists_in_storage_ = false;
                return;
            }

            // cache flag value file
            flag_value_file_ = std::unique_ptr<aconfig_storage::MappedStorageFile>(
                *flag_value_file);

        }
        {{ -endif }}

        {{ -for item in class_elements }}
        virtual bool {item.flag_name}() override \{
            {{ -if item.readwrite }}
            if (cache_[{item.readwrite_idx}].load(std::memory_order_relaxed) == -1) \{
                if (!package_exists_in_storage_) \{
                    return {item.default_value};
                }
                {{ if use_package_fingerprint- }}

                if (!fingerprint_matches_) \{
                    ALOGE("error: package fingerprint mismtach, returning flag default value.");
                    return {item.default_value};
                }
                {{ -endif }}{#- end of use_package_fingerprint #}

                auto value = aconfig_storage::get_boolean_flag_value(
                    *flag_value_file_,
                    boolean_start_index_ + {item.flag_offset});

                if (!value.ok()) \{
                    ALOGE("error: failed to read flag value: %s", value.error().c_str());
                    return {item.default_value};
                }

                cache_[{item.readwrite_idx}].store(*value, std::memory_order_relaxed);
            }
            return cache_[{item.readwrite_idx}].load(std::memory_order_relaxed);
            {{ -else }}
            {{ -if item.is_fixed_read_only }}
            return {package_macro}_{item.flag_macro};
            {{ -else }}
            return {item.default_value};
            {{ -endif }}
            {{ -endif }}
        }
        {{ -endfor }}

    {{ if readwrite- }}
    private:
        std::vector<std::atomic_int8_t> cache_;

        uint32_t boolean_start_index_;

        std::unique_ptr<aconfig_storage::MappedStorageFile> flag_value_file_;

        bool package_exists_in_storage_;
        {{ if use_package_fingerprint- }}

        bool fingerprint_matches_;
        {{ -endif }}{#- end of use_package_fingerprint #}
    {{ -endif }}

    };

{{ -endif }}

    static flag_provider_interface* get_provider_instance() \{
        static flag_provider* instance_ = new flag_provider();
        return instance_;
    }

    std::unique_ptr<flag_provider_interface> provider_(get_provider_instance());
}

{{ for item in class_elements }}
bool {header}_{item.flag_name}() \{
    {{ -if is_test_mode }}
    return {cpp_namespace}::{item.flag_name}();
    {{ -else }}
    {{ -if item.readwrite }}
    return {cpp_namespace}::{item.flag_name}();
    {{ -else }}
    {{ -if item.is_fixed_read_only }}
    return {package_macro}_{item.flag_macro};
    {{ -else }}
    return {item.default_value};
    {{ -endif }}
    {{ -endif }}
    {{ -endif }}
}

{{ -if is_test_mode }}
void set_{header}_{item.flag_name}(bool val) \{
    {cpp_namespace}::{item.flag_name}(val);
}
{{ -endif }}
{{ endfor }}

{{ -if is_test_mode }}
void {header}_reset_flags() \{
     {cpp_namespace}::reset_flags();
}
{{ -endif }}
